// Color
$primary-color: #1ebfc1;
$secondary-color: #ff947a;
$yellow-color: #ffc147;
$pink-color: #ff947a;
$purple-color: #bf83ff;
$black-color: #192122;
$white: #ffff;
$gray-100: #fefefd;

// font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Font
$font-primary: "Poppins", sans-serif;

$font-link-color: #2f3a3b;
$font-signin-color: #494949;

$font-heading-color: #0d1111;
$font-desc-color: #9da6a5;
$font-title-color: #767e7e;

$font-size-heading: 4.2rem;
$font-size-title: 1.2rem;
$font-size-description: 1.8rem;

$heading-line-height: 1.33;
$title-line-height: 1.5;
$desc-line-height: 1.69;

// Btn
$btn-padding-x: 40px;
$btn-padding-y: 21px;
$btn-border-radius: 14px;
$btn-font-size: 1.8rem;
$btn-width: 1px;
$btn-style: solid;

$btn-padding-sm-x: 24px;
$btn-padding-sm-y: 12px;
$btn-border-radius-sm: 6px;
$btn-font-size-sm: 1.6rem;

$btn-font-weight: 600;

// card 
$card-border-radius: 8px;
$card-border-radius-icon: 18px;
$card-border-radius-bg: 8px;